/*FONTS*/
@font-face {
  font-family: "main";
  src: url("D-DIN.otf");
}

/*===DESKTOP===*/

/*GENERAL ELEMENTS*/

html {
  font-family: "main";
  background-color: #000000;
  color: #dddddd;
}

a {
  color: #dddddd;
}

a:hover {
  background-color: #222222;
}

input {
  font-family: "main";
  background-color: #000000;
  color: #dddddd;
  border: none;
  border-bottom: 1px solid #dddddd;
  padding: 4px;
  font-size: 1em;
}

table {
  border: none;
  padding: 4px;
}

th {
  border-bottom: 1px solid #dddddd;
}

img {
  max-width: 100%;
}

/*CLASSES*/
.wrapper {
  margin: auto;
  width: 60%;
  max-width: 900px;
}

.title {
  font-size: 7px;
  white-space: pre;
  margin-bottom: 0px;
  text-align: left;
}

.separator {
  text-align: center;
  white-space: nowrap;
  overflow-x: hidden;
  margin-top: 0px;
  margin-bottom: 0px;
  overflow-x: hidden;
}

.links {
  text-align: center;
  width: 100%;
  display: flex;
  flex-wrap: no-wrap;
  justify-content: flex-start;
}

.links a {
  width: 110px;
  padding: 3px;
}

.greeting {
  white-space: pre;
  margin: 5px;
}

.code {
  white-space: nowrap;
  overflow: auto;
  background-color: #222222;
  font-family: monospace;
  padding: 5px;
  font-size: 0.9em;
  height: 2em;
}

.code::-webkit-scrollbar {
  display: none;
}

.msg {
  border-left: 1px #dddddd solid;
  padding-left: 3px;
}

.filename {
  max-width: 10em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.files{
  float: left;
  width: 100%;
  max-width: 900px;
}

.stats {
  white-space: pre;
  margin: 0px;
  padding: 3px;
}
.actions {
  flex-wrap: wrap;
  align-items: baseline;
  display: flex;
  margin: 4px;
}
.actions > * {
  margin-left: 10px;
}


/* ID'S */

#thumbnail {
  height: auto;
  width: auto;
  max-width: 300px;
  max-height: 300px;
}



