/*FONTS*/
@font-face {
  font-family: "main";
  src: url("../fonts/D-DIN.otf");
}

/*COLORS*/
:root {
  --bg: #000;
  --fg: #ddd;
  --fg-shade: #222;
}

/*===DESKTOP===*/

/*GENERAL ELEMENTS*/

html {
  font-family: "main";
  background-color: var(--bg);
  color: var(--fg);
}

a {
  color: var(--fg);
}

a:hover {
  background-color: var(--fg-shade);
}

input {
  font-family: "main";
  background-color: var(--bg);
  color: var(--fg);
  border: none;
  border-bottom: 1px solid var(--fg);
  padding: 4px;
  font-size: 1em;
}

table {
  border: none;
  padding: 4px;
}

th {
  border-bottom: 1px solid var(--fg);
}

img {
  max-width: 100%;
}

/*CLASSES*/
.wrapper {
  margin: auto;
  width: 420px;
}

.title {
  white-space: pre;
  margin-bottom: 0px;
  text-align: center;
}

.separator {
  text-align: center;
  white-space: nowrap;
  overflow-x: hidden;
  margin-top: 8px;
  margin-bottom: 8px;
  overflow-x: hidden;
  border-top: 1px dashed var(--fg);
}

.links {
  text-align: center;
  width: 100%;
  display: flex;
  flex-wrap: no-wrap;
  justify-content: space-evenly;
}

.links a {
  width: 110px;
  padding: 3px;
}

.greeting {
  white-space: pre;
  margin: 5px;
}

.code {
  white-space: nowrap;
  overflow: auto;
  background-color: var(--fg-shade);
  font-family: monospace;
  padding: 5px;
  font-size: 0.9em;
  height: 2em;
}

.code::-webkit-scrollbar {
  display: none;
}

.msg {
  border-left: 1px var(--fg) solid;
  padding-left: 3px;
}

.filename {
  max-width: 10em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.files {
  width: 100%;
}

.stats {
  white-space: pre;
  margin: 0px;
  padding: 3px;
}

/* ID'S */

#thumbnail {
  height: auto;
  width: auto;
  max-width: 300px;
  max-height: 300px;
}

/*===MOBILE===*/
@media only screen and (max-width: 800px) {
  /*GENERAL ELEMENTS*/
  /*CLASSES*/
  .wrapper {
    width: 90%;
    font-size: 4vw;
  }

  .title {
    font-size: 2.5vw;
  }
  .stats {
    font-size: 3.6vw;
  }
}
