{% extends "base_wide.html.twig" %}
{% block links %}
	<a href="/">back</a>
	<a href="/profile">profile</a>
{% endblock %}
{% block content %}
	{% if msg is defined %}
		<p class="msg">{{ msg }}</p>
	{% endif %}
	{% if users is defined %}



		<p>Global website stats: <span id="stats"> </span></p>
		<p>View user:
			<select id = "users">
					<option selected value="nil">select an user</option>
				{% for user in users%}
					<option value="{{user.apikey}}" >{{ user.username }}</option>
				{% endfor %}
			</select>
		</p>

		<p class="user_stats">User stats:</p>


		<div class="multi_table" style="display: flex; justify-content: center;">
			<div class="file_holder">
				<p class="file_pages">
					<a href="#" class="last_file_page">&lt&lt</a><a href="#" class="next_file_page">&gt&gt</a>
				</p>
				<table class="files" id="filetable" style="width: 40vw;">
					<thead>
						<th>file id</th>
						<th>filename</th>
						<th>filetype</th>
						<th></th>
					</thead>
				</table>
			</div>

			<div class="paste_holder">
				<p class="paste_pages">
					<a href="#" class="last_paste_page">&lt&lt</a><a href="#" class="next_paste_page">&gt&gt</a>
				</p>
				<table class="files", id="pastetable" style="width: 40vw;">
					<thead>
						<th>paste id</th>
						<th>paste title</th>
	          <th></th>
						<th></th>
					</thead>
				</table>
			</div>


		</div>

	  <div id="pastehover" style="background-color: var(--bg); border: 1px solid var(--fg-shade); white-space: pre; overflow: hidden; position: absolute; overflow-x: hidden;"></div>
		<img src="" id="thumbnail" style="overflow: hidden; position: absolute; overflow-x: hidden;"></div>

		<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
		<script>


			// global vars
			var itemcount = 27;//items per page
			var filepage = 0;
			var pastepage = 0;

			var filelist;
			var pastelist;

			$.ajax({
					url: "./api/fetch/stats",
					processData: false,
					contentType: false,
					type:'get',
					success: function(result){
							$("#stats").text('pastes: '+result.paste_count+', files: '+result.file_count+', data used: '+result.total_filesize);
					}
			});

			// main user select listener
			$('#users').change(function() {
				var apikey = $(this).val();

				//begin mass requests lol
				var apikeyform = new FormData();
				apikeyform.append('api_key', apikey);

				$.ajax({
						url: "./api/fetch/user",
						processData: false,
						contentType: false,
						type:'post',
						data: apikeyform,
						success: function(result){
								$(".user_stats").text('User stats: pastes: '+result.paste_count+', files: '+result.file_count+', data used: '+result.total_filesize);
						}
				});

				loadfiles(apikeyform);
				loadpastes(apikeyform);


			});

			//PASTE RELATED FUNCTIONS
			function loadpastes(apikeyform){
				$.ajax({
						url: "./api/fetch/pastes",
						processData: false,
						contentType: false,
						type:'post',
						data: apikeyform,
						success: function(result){

							pastelist = result.pastes;

							drawpastepagenumbers();
							pastepage = 0;
							loadpastepage(pastepage);
						}
				});
			}

			function loadpastepage(page){
				$("#pastetable > tr").remove();

				var paste_selected = pastelist.slice(itemcount*page, (itemcount*page)+itemcount);

				var outstring = "";
				$.each(paste_selected, function(i, item){
					outstring += '<tr><td>'+item.id+'</td>';
					outstring += '<td><a class=\"linkP\" href=\"/p/'+item.id+'\">'+item.paste_name+'</td>';
					outstring += '<td><a href=\"#\">edit</a></td>';
					outstring += '<td><a href=\"#\">delete</a></td></tr>';
				});
				$('#pastetable > thead').after(outstring);
			}

			function drawpastepagenumbers(){
				var pastepagecount = getpagecount(pastelist);
				$(".paste_pages > .ppage").remove();
				for (var i = 0; i <= pastepagecount; i++){
					if (i == pastepage){
						outstring = '<span class=\"ppage\">'+(i+1)+'</span>';
					}else{
						outstring = '<a href=\"#\" class=\"ppage\">'+(i+1)+'</a>';
					}

					$(".paste_pages > .next_paste_page").before(outstring);
				}

			}

			$(document).on("click", '.ppage', function(e) {
				var page = $(this).text();
				pastepage = page-1;

				drawpastepagenumbers();
				loadpastepage(pastepage);

			});

			$('.next_paste_page').click(function(){
					pastepage += 1;
					if (pastepage > getpagecount(pastelist)){
						pastepage = 0;
					}

					drawpastepagenumbers();
					loadpastepage(pastepage);

			});

			$('.last_file_page').click(function(){
					pastepage -= 1;
					if (filepage < 0){
						pastepage = getpagecount(pastelist);
					}

					drawpastepagenumbers();
					loadpastepage(pastepage);

			});
			//PASTE HOVER FUNCTIONS
			var txt = $('#pastehover');
			$(document).mousemove(function(e) {
				var pasteheight = $('#pastehover').outerHeight()+10;
				var dist = Math.floor($(window).height()-e.pageY);
				if (dist < pasteheight+20){
					txt.offset({ top: $(window).height()+$(window).scrollTop()-pasteheight-10, left: e.pageX+10 });
				}else{
					txt.offset({ top: e.pageY+10, left: e.pageX+10 });
				}
			});

			$(document).on( "mouseover", ".linkP", function() {
				var last_part=this.href.substr(this.href.lastIndexOf('/') + 1);

				$.get( '/p/raw/'+last_part)
				.done(function( data ) {
					txt.text(data);
					txt.css('padding', '2px');
				});

			});
			$(document).on( "mouseleave", ".linkP",function() {
				txt.text("");
				txt.css('padding', '0px');
			});
			$('.paste_holder').mouseleave(function() {
				txt.text("");
				txt.css('padding', '0px');
			});

			//FILE HOVER FUNCTIONS
			var thumb = $('#thumbnail');
			$(document).mousemove(function(e) {
				var imgheight = $('#thumbnail').outerHeight()+10;
				var dist = Math.floor($(window).height()-e.pageY);
				if (dist < imgheight+20){
					thumb.offset({ top: $(window).height()+$(window).scrollTop()-imgheight-10, left: e.pageX+10 });
				}else{
					thumb.offset({ top: e.pageY+10, left: e.pageX+10 });
				}
			});

			$(document).on( "mouseover",'.linkf', function(e) {
				if (checkURL(this.href)){

					$('#thumbnail').attr("src",this.href);
				}
			});

			$(document).on("mouseleave", '.linkf', function(e) {
				$('#thumbnail').attr("src", "");
			});

			// used in file hover
			function checkURL(url) {
				return(url.match(/\.(jpeg|jpg|gif|png|tiff)$/) != null);
			}


			// FILE RELATED FUNCTIONS
			function loadfiles(apikeyform){
				$.ajax({
						url: "./api/fetch/files",
						processData: false,
						contentType: false,
						type:'post',
						data: apikeyform,
						success: function(result){

							filelist = result.files;
							console.log(getpagecount(filelist));

							drawfilepagenumbers();
							filapage = 0;
							loadfilepage(filepage);
						}
				});
			}

			$(document).on("click", '.fpage', function(e) {
				var page = $(this).text();
				filepage = page-1;

				drawfilepagenumbers();
				loadfilepage(filepage);

			});

			$('.next_file_page').click(function(){
					filepage += 1;
					if (filepage > getpagecount(filelist)){
						filepage = 0;
					}

					drawfilepagenumbers();
					loadfilepage(filepage);

			});

			$('.last_file_page').click(function(){
					filepage -= 1;
					if (filepage < 0){
						filepage = getpagecount(filelist);
					}

					drawfilepagenumbers();
					loadfilepage(filepage);

			});

			function getpagecount(list){
				return Math.floor(list.length/itemcount);
			}

			function drawfilepagenumbers(){
				var filepagecount = getpagecount(filelist);
				$(".file_pages > .fpage").remove();
				for (var i = 0; i <= filepagecount; i++){
					if (i == filepage){
						outstring = '<span class=\"fpage\">'+(i+1)+'</span>';
					}else{
						outstring = '<a href=\"#\" class=\"fpage\">'+(i+1)+'</a>';
					}

					$(".file_pages > .next_file_page").before(outstring);
				}

			}

			function loadfilepage(page){
				$("#filetable > tr").remove();

				var files_selected = filelist.slice(itemcount*page, (itemcount*page)+itemcount);

				var outstring = "";
				$.each(files_selected, function(i, item){
					outstring += '<tr><td>'+item.filename+'</td>';
					outstring += '<td class=\"filename\"><a class=\"linkf\" href=\"/u/';
					outstring += item.filename+'.'+item.filetype+'\">';
					outstring += '<span title=\"'+item.org_filename+'\">'+item.org_filename+"</span></a></td>";
					outstring += '<td>'+item.filetype+'</td>';
					outstring += '<td><a href=\"#\">delete</a></td></tr>';
				});
				$('#filetable > thead').after(outstring);

			}

		</script>


		<script>
			//PASTE MOUSEOVER SCRIPT


		</script>

	{% endif %}

{% endblock %}
