{% extends "base.html.twig" %}
{% block links %}
	<a href="/paste">paste</a>
	<a href="/upload">upload</a>
	{% if app.session.get('user') %}
		<a href="/logout">logout</a>
	{% else %}
		<a href="/login">login</a>
	{% endif %}
{% endblock %}

{% block content %}
	{% if app.request.hasPreviousSession %}
		{% if app.session.get('user') %}
			{% set acc = app.session.get('user') %}
			<p class="greeting">welcome, {{ acc.username }}.   <a href="/files/0">files</a>   <a href="/pastes/0">pastes</a>   <a href="/profile">profile</a></p>
			<p class="separator"></p>
		{% endif %}
	{% endif %}
	<p>Welcome to my file/paste hosting site. This place is invite only. Contact me for registration below.</p>
	<p>email: <a href="mailto:nojusr@gmail.com?subject=I wanna register to kelp.ml">nojusr@gmail.com</a></p>
	<p>github: <a href="https://github.com/nojusr">https://github.com/nojusr</a></p>
	<p>patreon: <a href="https://www.patreon.com/kelp_ml">https://www.patreon.com/kelp_ml</a></p>
{% endblock %}
