{% extends "base.html.twig" %}
{% block links %}
	<a href="/rice">rice</a>
	<a href="/upload">uploads</a>
	{% if session['username'] is defined %}
		<a href="/logout">logout</a>
	{% else %}
		<a href="/login">login</a>
	{% endif %}
{% endblock %}

{% block content %}
	{% if app.request.hasPreviousSession %}
		{% if app.session.get('user') %}
			{% set acc = app.session.get('user') %}
			<p class="greeting">Welcome, {{ acc.username }}.   <a href="/files">your files</a></p>
			<p class="separator">---------------------------------------------------------------------------------------------------------------------------</p>
		{% endif %}
	{% endif %}
	<p>Welcome to my website. I am a programmer from Lithuania, with interests in graphic design, engineering, and video games. This website also serves as an image hosting site, but since i'm a little short on storage space, you will have to contact me for registration.</p>
	<p> email: <a href="mailto:nojusr@gmail.com?subject=contakt lil ol kelp">nojusr@gmail.com</a></p>
	<p>github: <a href="https://github.com/nojusr">https://github.com/nojusr</a></p>
{% endblock %}
