{% extends "base.html.twig" %}
{% block links %}
	<a href="/">back</a>
{% endblock %}
{% block content %}
	<p>desktop:</p>
	<a href="https://kelp.ml/cbejz.png"><img src="https://kelp.ml/cbejz.png"></img></a>
	<a href="https://kelp.ml/y23ke.png"><img src="https://kelp.ml/y23ke.png"></img></a>
	<p>phone:</p>
	<a href="https://kelp.ml/j6bu9.png"><img src="https://kelp.ml/j6bu9.png"></img></a>
	<a href="https://kelp.ml/wgb2x.png"><img src="https://kelp.ml/wgb2x.png"></img></a>
{% endblock %}
