{% extends "base_wide.html.twig" %}
{% block links %}
	<a href="/">home</a>
	{% if paste.paste_name is defined %}
		<p>paste name: {{ paste.paste_name }}</p>
	{% endif %}
{% endblock %}
{% block content %}
	{% if paste.paste_text is defined %}
	<pre class="paste"> {{ paste.paste_text }}</pre>
	{% else %}
	<p>paste not found</p>
	{% endif %} 
{% endblock %}
